# ==========================
# Python Cache Files
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/
# Ignore data folder
data/

models/cosine_similarity.pkl
